<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colorPalettes</key>
	<dict>
		<key>cloudy_day</key>
		<dict>
			<key>weather</key>
			<array>
				<string>晴</string>
				<string>阴</string>
				<string>云</string>
			</array>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>176</integer>
				<key>green</key>
				<integer>185</integer>
				<key>blue</key>
				<integer>191</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>115</integer>
				<key>green</key>
				<integer>141</integer>
				<key>blue</key>
				<integer>158</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>cloudy_evening</key>
		<dict>
			<key>weather</key>
			<array>
				<string>阴</string>
				<string>晴</string>
				<string>云</string>
			</array>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>119</integer>
				<key>green</key>
				<integer>139</integer>
				<key>blue</key>
				<integer>152</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>82</integer>
				<key>green</key>
				<integer>107</integer>
				<key>blue</key>
				<integer>124</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>cloudy_latenight</key>
		<dict>
			<key>weather</key>
			<array>
				<string>云</string>
				<string>晴</string>
				<string>阴</string>
			</array>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>64</integer>
				<key>green</key>
				<integer>75</integer>
				<key>blue</key>
				<integer>79</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>56</integer>
				<key>green</key>
				<integer>67</integer>
				<key>blue</key>
				<integer>71</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
		</dict>
		<key>foggy_day</key>
		<dict>
			<key>weather</key>
			<array>
				<string>雾</string>
				<string>霾</string>
			</array>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>190</integer>
				<key>green</key>
				<integer>181</integer>
				<key>blue</key>
				<integer>151</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>160</integer>
				<key>green</key>
				<integer>149</integer>
				<key>blue</key>
				<integer>115</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>foggy_evening</key>
		<dict>
			<key>weather</key>
			<array>
				<string>雾</string>
				<string>霾</string>
			</array>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>175</integer>
				<key>green</key>
				<integer>165</integer>
				<key>blue</key>
				<integer>131</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>140</integer>
				<key>green</key>
				<integer>130</integer>
				<key>blue</key>
				<integer>98</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>foggy_latenight</key>
		<dict>
			<key>weather</key>
			<array>
				<string>雾</string>
				<string>霾</string>
			</array>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>175</integer>
				<key>green</key>
				<integer>165</integer>
				<key>blue</key>
				<integer>131</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>140</integer>
				<key>green</key>
				<integer>130</integer>
				<key>blue</key>
				<integer>98</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>icy_day</key>
		<dict>
			<key>weather</key>
			<array>
				<string>冰</string>
				<string>冷</string>
				<string>冻</string>
			</array>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>187</integer>
				<key>green</key>
				<integer>193</integer>
				<key>blue</key>
				<integer>196</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>155</integer>
				<key>green</key>
				<integer>159</integer>
				<key>blue</key>
				<integer>163</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>icy_evening</key>
		<dict>
			<key>weather</key>
			<array>
				<string>冰</string>
				<string>冷</string>
				<string>冻</string>
			</array>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>136</integer>
				<key>green</key>
				<integer>141</integer>
				<key>blue</key>
				<integer>143</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>102</integer>
				<key>green</key>
				<integer>105</integer>
				<key>blue</key>
				<integer>107</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>icy_latenight</key>
		<dict>
			<key>weather</key>
			<array>
				<string>冰</string>
				<string>冷</string>
				<string>冻</string>
			</array>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>136</integer>
				<key>green</key>
				<integer>141</integer>
				<key>blue</key>
				<integer>143</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>102</integer>
				<key>green</key>
				<integer>105</integer>
				<key>blue</key>
				<integer>107</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>rainy_day</key>
		<dict>
			<key>weather</key>
			<array>
				<string>雨</string>
			</array>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>98</integer>
				<key>green</key>
				<integer>117</integer>
				<key>blue</key>
				<integer>123</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>68</integer>
				<key>green</key>
				<integer>86</integer>
				<key>blue</key>
				<integer>97</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>rainy_evening</key>
		<dict>
			<key>weather</key>
			<array>
				<string>雨</string>
			</array>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>83</integer>
				<key>green</key>
				<integer>97</integer>
				<key>blue</key>
				<integer>102</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>60</integer>
				<key>green</key>
				<integer>76</integer>
				<key>blue</key>
				<integer>82</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>rainy_latenight</key>
		<dict>
			<key>weather</key>
			<array>
				<string>雨</string>
			</array>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>83</integer>
				<key>green</key>
				<integer>97</integer>
				<key>blue</key>
				<integer>102</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>60</integer>
				<key>green</key>
				<integer>76</integer>
				<key>blue</key>
				<integer>82</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>snowy_day</key>
		<dict>
			<key>weather</key>
			<array>
				<string>雪</string>
			</array>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>166</integer>
				<key>green</key>
				<integer>187</integer>
				<key>blue</key>
				<integer>206</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>123</integer>
				<key>green</key>
				<integer>150</integer>
				<key>blue</key>
				<integer>174</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>snowy_evening</key>
		<dict>
			<key>weather</key>
			<array>
				<string>雪</string>
			</array>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>121</integer>
				<key>green</key>
				<integer>140</integer>
				<key>blue</key>
				<integer>156</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>90</integer>
				<key>green</key>
				<integer>103</integer>
				<key>blue</key>
				<integer>115</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>snowy_latenight</key>
		<dict>
			<key>weather</key>
			<array>
				<string>雪</string>
			</array>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>121</integer>
				<key>green</key>
				<integer>140</integer>
				<key>blue</key>
				<integer>156</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>90</integer>
				<key>green</key>
				<integer>103</integer>
				<key>blue</key>
				<integer>115</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>stormy_day</key>
		<dict>
			<key>weather</key>
			<array>
				<string>大风</string>
				<string>强风</string>
				<string>烈风</string>
				<string>风暴</string>
				<string>狂爆风</string>
				<string>飓风</string>
				<string>热带风暴</string>
				<string>沙尘暴</string>
				<string>强沙尘暴</string>
				<string>龙卷风</string>
				<string>疾风</string>
				<string>劲风</string>
			</array>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>71</integer>
				<key>green</key>
				<integer>80</integer>
				<key>blue</key>
				<integer>100</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>49</integer>
				<key>green</key>
				<integer>49</integer>
				<key>blue</key>
				<integer>70</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>stormy_evening</key>
		<dict>
			<key>weather</key>
			<array>
				<string>大风</string>
				<string>强风</string>
				<string>烈风</string>
				<string>风暴</string>
				<string>狂爆风</string>
				<string>飓风</string>
				<string>热带风暴</string>
				<string>沙尘暴</string>
				<string>强沙尘暴</string>
				<string>龙卷风</string>
				<string>疾风</string>
				<string>劲风</string>
			</array>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>62</integer>
				<key>green</key>
				<integer>74</integer>
				<key>blue</key>
				<integer>101</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>42</integer>
				<key>green</key>
				<integer>51</integer>
				<key>blue</key>
				<integer>84</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>stormy_latenight</key>
		<dict>
			<key>weather</key>
			<array>
				<string>大风</string>
				<string>强风</string>
				<string>烈风</string>
				<string>风暴</string>
				<string>狂爆风</string>
				<string>飓风</string>
				<string>热带风暴</string>
				<string>沙尘暴</string>
				<string>强沙尘暴</string>
				<string>龙卷风</string>
				<string>疾风</string>
				<string>劲风</string>
			</array>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>42</integer>
				<key>green</key>
				<integer>52</integer>
				<key>blue</key>
				<integer>74</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>36</integer>
				<key>green</key>
				<integer>46</integer>
				<key>blue</key>
				<integer>66</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
		</dict>
		<key>windy_day</key>
		<dict>
			<key>weather</key>
			<array>
				<string>有风</string>
				<string>微风</string>
				<string>和风</string>
				<string>清风</string>
			</array>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>119</integer>
				<key>green</key>
				<integer>103</integer>
				<key>blue</key>
				<integer>80</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>78</integer>
				<key>green</key>
				<integer>66</integer>
				<key>blue</key>
				<integer>49</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>windy_evening</key>
		<dict>
			<key>weather</key>
			<array>
				<string>有风</string>
				<string>微风</string>
				<string>和风</string>
				<string>清风</string>
			</array>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>98</integer>
				<key>green</key>
				<integer>79</integer>
				<key>blue</key>
				<integer>53</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>71</integer>
				<key>green</key>
				<integer>58</integer>
				<key>blue</key>
				<integer>40</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>windy_latenight</key>
		<dict>
			<key>weather</key>
			<array>
				<string>有风</string>
				<string>微风</string>
				<string>和风</string>
				<string>清风</string>
			</array>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>98</integer>
				<key>green</key>
				<integer>79</integer>
				<key>blue</key>
				<integer>53</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>71</integer>
				<key>green</key>
				<integer>58</integer>
				<key>blue</key>
				<integer>40</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
